body{
    height:100%;
}
.box{
    max-width: 600px;
    padding:10px 0;
    border:1px solid #ccc;
   }

.form-horizontal{
    margin:10px 20px;
}

#main{
    padding-bottom:200px;
    min-height: 600px;
    height: 100%;
}

#sticky-footer{
    background-color:rgb(99, 164, 207);
    display:flex;
    flex-wrap: wrap;
}

.footer-left{
    flex: 2;
}

.footer-right{
width: 100px;
}

#main{
    padding:10px 10px;
}

.pagination{
    justify-content: center;
}

h1{
    color:firebrick;
    font-size: 5em;
}

h2{
    color:lightsteelblue;
}

.card{
    margin:50px 50px;
    width:90%;
}